@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

html, body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.user-name {
    color: #FF5733;
    font-weight: bold;
}